---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      ISBN: {{ page.ISBN }}
      •
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        Date read: {{ page.date_read | date: date_format }}
      </time>
      •
      Recommendation: {{ page.recommendation }}/10
  </header>

  {{ page.excerpt }}


  <h1 class="post-content p-name" itemprop="name headline">my notes</h1>

  <div class="post-content e-content" itemprop="articleBody">
    {{ page.content | remove: page.excerpt }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>